@tailwind base;
@tailwind components;
@tailwind utilities;


.points-box::before {
    content: "";
    display: block;
    border-radius: 100%;
    background: theme('colors.ss-bg');
    height: 1.8rem;
    width: 1.8rem;
    position: absolute;
    top: -15px;
    left: -12px;
}

.points-box::after {
    content: "";
    display: block;
    border-radius: 100%;
    background: theme('colors.ss-bg');
    height: 1.8rem;
    width: 1.8rem;
    position: absolute;
    bottom: -15px;
    left: -12px;
}
