@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    min-height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    background: theme('colors.zinc.800');
    color:theme('colors.zinc.50');
}
